html,body {padding:0; margin:0; line-height:1.6; font-family:Arial; font-size:14px;}
body {background-color: transparent;word-wrap:break-word;}
p {margin-bottom:0.5em;}
font{line-height:1.3em;} 
a{border:none;}
a img{border:0px;}

img.blog_music {width:351px; height:111px; background:url("../img/music_cover.jpg") no-repeat 0 0}
img.blog_music_multiple {width:381px; height:191px; background:url("../img/music_cover_multi.jpg") no-repeat 0 0}
img.blog_video {width:33px; height:43px; background:url("../img/video_cover.gif") no-repeat center; margin:2px}
img.blog_flash {width:33px; height:43px; background:url("../img/flash_cover.gif") no-repeat center; margin:2px}
