html,body,p,ul,li {margin:0; padding:0;}
.hidden {display:none; visibility:hidden;}
.veEditorContainer {display: block; /*-webkit-transform: translateX(50px) scale(0.8) rotateY(20deg);-webkit-transition: -webkit-transform 1s ease-in-out;*/}
.veHtmlEditor {border:1px solid #ccc; border-radius:0px !important;}
.veToolbar {overflow:hidden; margin: 5px 2px;float:left; }
.veToolbar a, .veToolbar a:hover, .veToolbar a:active,
.veList a, .veList a:hover, .veList a:active {color:#555}	/*** 按钮颜色不跟随主题  ****/
.veToolbarContainer {background:url(../img/toolbarbg.png) repeat-x; /* height:33px;*/}
.veToolbarAdvMode {background:url(../img/advtoolbarbg.png) repeat-x; /*height:49px;*/}
.veStatusbarContainer {padding:2px 0; display:none}

.veList {overflow:hidden;display:block; overflow:hidden; float:left; font-size:12px; z-index:10; width:82px;}
.veList a {text-decoration:none;padding:0 5px; display:block; overflow:hidden; clear:both;}
.veList .veList_downicon{display:block; width:22px; height:22px; background:url(../img/bg.png) no-repeat -194px 0; float:left; overflow:hidden;}
.veList .veList_downicon a {width:10px; height:22px}
.veList .veList_current {width:60px; float:left; height:22px; overflow:hidden; line-height:22px; background:url("../img/bg.png") no-repeat -81px 0;}
.veList_active .veList_current {background-position:-81px -44px}
.veList_over .veList_downicon {background-position: -194px -22px; overflow:hidden;}
.veList_over .veList_current {}
.veList_active .veList_downicon {background-position: -194px -44px}
 
.veList_list {position:absolute; border:1px solid #cccccc; border-radius:0 0 3px 3px; border-top:none; background:url("../img/gray_line.png") no-repeat 80px 0 #fafafa; margin:0 0 0 1px; padding:1px 0}
.veList_list a {padding:5px 0;}
.veList_list a.veListTitle {padding:5px 10px; font-weight:bold; background-color:#eeeeee;cursor:default;}
.veList_list .veList_item_con .sel_icon {font-size:14px; line-height:20px; float:left; display:block; width:14px; text-align:center; overflow:hidden;}
.veList_list .veList_item_con .sel_icon_hidden {visibility:hidden;}
.veList_list .veList_item_con .item_cont {margin:0 5px;}
.veList_list .list_left {width:20px; height:100%;}
.veList_item_con .over {background-color:#eeeeee;}

.veListFontName, .veListFontSize {margin:0 2px;}
.veList_FontSize_list {top:27px; left:105px; width:150px;}
.veList_FontName_list {top:27px; left:0px; width:120px;}

.veButton {display:block; float:left; background: url(../img/bg.png) no-repeat;display: block;cursor:pointer; float:left; width:27px; height:22px;}
.veButton span {display:block}
.veButton_disabled {cursor:default;}

.veSave {background-position:0 0; margin-left:4px;}
.veSave_over {background-position:0 -22px}

.veUndo {background-position:-27px 0; margin-left:4px}
.veUndo_over {background-position:-27px -22px}

.veRedo {background-position:-54px 0; margin-left:4px}
.veRedo_over {background-position:-54px -22px}

.veButtonBold {background-position: -580px 0;}
.veButtonBold_over {background-position: -580px -22px;}
.veButtonBold_active {background-position: -580px -44px;}

.veButtonItalic {background-position: -608px 0;}
.veButtonItalic_over {background-position: -608px -22px;}
.veButtonItalic_active {background-position: -608px -44px;}

.veButtonUnderline {background-position: -636px 0; width:29px;}
.veButtonUnderline_over {background-position: -636px -22px; width:29px;}
.veButtonUnderline_active {background-position: -636px -44px; width:29px;}

.veJustifyLeft {background-position: -243px 0;}
.veJustifyLeft_over {background-position: -243px -22px;}
.veJustifyLeft_active {background-position: -243px -44px;}

.JustifyCenter {background-position: -270px 0;}
.JustifyCenter_over {background-position: -270px -22px;}
.JustifyCenter_active {background-position: -270px -44px;}

.JustifyRight {background-position: -297px 0;}
.JustifyRight_over {background-position: -297px -22px;}
.JustifyRight_active {background-position: -297px -44px;}

.JustifyFull {background-position: -324px 0; width:29px;}
.JustifyFull_over {background-position: -324px -22px}
.JustifyFull_active {background-position: -324px -44px;}

.veHtml {background-position: -828px 0; width:47px;}
.veHtml_over {background-position: -828px -22px;}
.veHtml_active {background-position: -828px -44px}
.veHtml_disabled {background-position: -828px -66px}

.listol {background-position: -722px 0; width:27px; margin-left:2px}
.listol_over {background-position: -722px -22px;}
.listol_active {background-position: -722px -44px}
.listol_disabled {background-position: -722px -66px}

.listul {background-position: -749px 0; width:26px;}
.listul_over {background-position: -749px -22px;}
.listul_active {background-position: -749px -44px}
.listul_disabled {background-position: -749px -66px}

.tableft {background-position: -775px 0; width:27px; margin-left:2px}
.tableft_over {background-position: -775px -22px;}
/**
.tableft_active {background-position: -775px -44px}
**/
.tableft_disabled {background-position: -775px -66px}


.tabright {background-position: -802px 0; width:26px;}
.tabright_over {background-position: -802px -22px;}
/**
.tabright_active {background-position: -802px -44px}
**/
.tabright_disabled {background-position: -802px -66px}


.veForeColor {background-position: -665px 0; width:27px; margin:0 2px}
.veForeColor_over {background-position: -665px -22px}
.veBackColor {background-position: -693px 0; width:29px; margin:0 2px}
.veBackColor_over {background-position: -693px -22px;}

.veInsertImage {background-position: -380px 0; width:27px; margin:0 2px}
.veInsertImage_over {background-position: -380px -22px; width:27px; margin:0 2px}

.veLink {background-position: -461px 0; width:27px; margin:0 2px}
.veLink_over {background-position: -461px -22px}

.veEmotion {background-position: -353px 0; width:27px; margin:0 2px;}
.veEmotion_over {background-position: -353px -22px;width:27px; margin:0 2px;}

.veInsertQQShowBubble {background-position: -1032px 0; width:27px; margin:0 2px;}
.veInsertQQShowBubble_over {background-position: -1032px -22px;}

.veInsertMusic {background-position: -434px 0; width:27px; margin:0 2px;}
.veInsertMusic_over {background-position:-434px -22px}

.veScreen {background-position: -434px 0; width:27px; margin:0 2px;}
.veScreen_over {background-position:-434px -22px}

.veInsertVideo {background-position: -407px 0; width:27px; margin:0 2px;}
.veInsertVideo_over {background-position:-407px -22px}

.veInsertFlash {background-position:-1059px 0; width:27px; margin:0 2px;}
.veInsertFlash_over {background-position:-1059px -22px}

.vePin {background-position: -1103px 0; width:27px; margin:0 2px;}
.vePin_over {background-position: -1103px -22px;}

.veHelp {background-position: -1002px -69px; width:16px; margin:0 2px;}

.veRemoveFormat {background-position:-488px 0; width:23px; margin:0 2px;}
.veRemoveFormat_over {background-position:-488px -22px}
.veRemoveFormat_disable {background-position:-488px -66px}

.veToolbarSwitcher {background:none; width:auto; line-height:20px; height:20px; color:#666; width:74px; text-indent:7px}
.veToolbarSwitcher .veIcon {padding-left:8px;}
.veToolbarSwitcher:hover {text-decoration:none;}
.veToolbarSwitcher_over {background:url("../img/bg.png") -580px -93px}
.veToolbarSwitcher b {display:inline-block; width:10px; height:13px; margin-left:3px; background:url("../img/bg.png") no-repeat -1005px 0}
.veToolbarContainer .veToolbarSwitcher b {background-position:-1005px 0}
.veToolbarSwitcher_disable b {background-position:-1005px -22px} 
.veToolbarSwitcher_active b {background-position:-1005px -46px}

/** 高级模式 **/
.veToolbarAdvMode {height:60px;}
.veToolbarAdvMode .veSave {width:35px; height:49px; background-position:-875px 0}
.veToolbarAdvMode .veSave_over {background-position:-910px -49px}
.veToolbarAdvMode .veRedo {margin:26px 0 0 -27px}
.veToolbarAdvMode .veOperateToolbar {border-right:1px solid #c1c1c1; padding-right:7px; margin-right:5px}

.veToolbarAdvMode .veButtonBold {margin:26px 0 0 -171px}
.veToolbarAdvMode .veButtonItalic {margin:26px 0 0 -144px}
.veToolbarAdvMode .veButtonUnderline {margin:26px 0 0 -117px}
.veToolbarAdvMode .veForeColor {margin:26px 0 0 -84px}
.veToolbarAdvMode .veButtonItalic {margin:26px 0 0 -144px}
.veToolbarAdvMode .veColorToolbar {margin:26px 0 0 -171px}
.veToolbarAdvMode .veFontStyleToolbar {border-right:1px solid #c1c1c1; padding-right:7px; margin-right:5px; width:172px}

.veToolbarAdvMode .listol {margin:26px 0 0 -110px}
.veToolbarAdvMode .listul {margin:26px 0 0 -83px}
.veToolbarAdvMode .tableft {margin:26px 0 0 -53px}
.veToolbarAdvMode .tabright {margin:26px 0 0 -26px}
.veToolbarAdvMode .veJustifyToolbar {border-right:1px solid #c1c1c1; padding-right:7px; margin-right:5px; width:110px}

.veToolbarAdvMode .veEmotion {width:35px; height:50px; background-position:0 -90px}
.veToolbarAdvMode .veEmotion_over {background-position:0 -141px}

.veToolbarAdvMode .veLink {width:35px; height:50px; background-position:-140px -90px}
.veToolbarAdvMode .veLink_over {background-position:-140px -141px}

.veToolbarAdvMode .veInsertVideo {width:35px; height:50px; background-position:-70px -90px}
.veToolbarAdvMode .veInsertVideo_over {background-position:-70px -141px}

.veToolbarAdvMode .veInsertFlash {width:35px; height:50px; background-position:-245px -90px}
.veToolbarAdvMode .veInsertFlash_over {background-position:-245px -141px}

.veToolbarAdvMode .veInsertMusic {width:35px; height:50px; background-position:-105px -90px}
.veToolbarAdvMode .veInsertMusic_over {background-position:-105px -141px}

.veToolbarAdvMode .veInsertQQShowBubble {width:35px; height:50px; background-position:-175px -90px}
.veToolbarAdvMode .veInsertQQShowBubble_over {background-position:-175px -141px}

.veToolbarAdvMode .veInsertImage {width:35px; height:50px; background-position:-35px -90px}
.veToolbarAdvMode .veInsertImage_over {background-position:-35px -141px}

.veToolbarAdvMode .veScreen {width:35px; height:50px; background-position:-280px -90px}
.veToolbarAdvMode .veScreen_over {background-position:-280px -141px}

.veToolbarAdvMode .veAdvToolbar {border-right:1px solid #c1c1c1; padding-right:7px; margin-right:5px}

.veToolbarAdvMode .veHtml {margin:26px 0 0 -73px}
.veToolbarAdvMode .veRemoveFormat {margin:26px 0 0 -21px}
.veToolbarAdvMode .veToolbarSwitcher b {background-position:-1005px -47px}
.veToolbarAdvMode .vePasteRich {margin:6px 0 0 4px}

.test_con .veIframeConContainer {margin:0 auto;background:#cccccc;}
.mailTitleContainer {width:100%; padding:10px 0; height:30px; text-align:center;}
.mailTitleContainer input {width: 400px; border: none; width:80%; line-height: 30px; font-weight:700; margin:0 auto; padding: 5px 10px; font-size:20px; background-color:transparent;}


.popupdialogcon {background-color:white; border:1px solid gray;}
.popupdialogcon .iframe_con {width:100%; margin:0 auto;}
.popupdialogcon  h3{background:url(../img/pupop_bg.png) repeat-x;margin:0; padding:0; height:20px;text-align:left; font-weight:700;color:black; height:28px; z-index:1;}
.popupdialogcon  h3 .txt_con {float:left; padding:2px 5px;}
.popupdialogcon  h3 .close_icon {background:url(../img/pupop_bg.png) no-repeat 0 -30px;display:block; float:right; margin:0 5px;  width: 34px; height:19px; text-decoration:none; overflow:hidden; font-size:12px;}
.popupdialogcon .ve_resize {position:absolute; height:5px; width:5px; display:block; background-color:black;background:transparent; z-index:0;}
.popupdialogcon .resizeN {width:100%;left:0; top:0; cursor:n-resize;}
.popupdialogcon .resizeS {width:100%; left:0; bottom:0;cursor:s-resize;}
.popupdialogcon .resizeW {height:100%;left:0; top:0;cursor:w-resize; }
.popupdialogcon .resizeE {height:100%; right:0;top:0;cursor:e-resize;}
.popupdialogcon .resizeNW {left:0; top:0;cursor:nw-resize; z-index:1;}
.popupdialogcon .resizeNE {right:0;top:0;cursor:ne-resize;z-index:1;}
.popupdialogcon .resizeSW {left:0;bottom:0;cursor:sw-resize;z-index:1;}
.popupdialogcon .resizeSE {right:0; bottom:0;cursor:se-resize;z-index:1;}

.simplepopupcon {background-color:white; border:1px solid gray; position:absolute; box-shadow:0 0 2px #06C; border-radius:2px}
.simplepopupcon .close_con {width: 14px; height: 14px; float:right; font-size:12px; margin:5px 5px 0;}
.simplepopupcon .close_icon {text-decoration:none;}

/**
 * 插入链接面板
 */
#ed-insert-link-panel {padding:10px;}
#ed-insert-link-panel strong {padding-bottom:5px; display:inline-block}
#ed-insert-link-panel #link-val {width:200px}

/** 粘贴富文本面板 **/
#ed-paste-richtext {padding:10px}
#ed-paste-richtext  strong {padding-bottom:5px; display:inline-block}
#ed-paste-iframe {border:1px solid #ddd}
#ed-paste-richtext iframe {display:block; width:326px; height:140px; border:none}

/** 图文混排工具 **/
.pic_tips li {list-style:none}
.none{position:absolute;top:-999em}
.pic_function,.main_btn,.dropdown_functions{;-moz-border-radius:2px;-webkit-border-radius: 2px;border-radius: 2px;background-color:#e5e5e5;}
.pic_function
{background-image: -moz-linear-gradient(top, #f2f1f1, #e5e5e5); /* FF3.6 */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f2f1f1),color-stop(1, #e5e5e5)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(#f2f1f1, #999999); /* Chrome 10+, Saf6 */
  background-image: linear-gradient(top, #f2f1f1, #e5e5e5);
}
.pic_function{border:1px solid #999;background-color:#f2f1f1;height:21px;position:relative;float:left;  font-size:12px; padding:4px 0 4px 4px}
.pic_function a {text-decoration:none}
.pic_function a:hover{cursor:pointer;text-decoration:none}
.dropdown_functions a:hover{background-color:#e6e6e6}
.pic_function .father_button{float:Left;margin-right:4px;_display:inline;}
.pic_function .father_button .dropdown_functions{position:absolute;top:27px;z-index:0;_width:100px}
.dis_none,.father_button .dropdown_functions{display:none}
.pic_function .current .dropdown_functions{display:block}
.pic_function .icon_sprite{display:block;background:url(../img/icon_pic_edit.gif) no-repeat}
.icon_pic_position{margin-top:3px;margin-left:4px}
.icon_pic_size{margin-top:2px;margin-left:3px}
.icon_pic_link{margin-top:6px;margin-left:2px}
.pic_function .father_button .main_btn{width:21px;height:20px;background-color:#fff;border:1px solid #bfbfbf;display:block;z-index:1;position:relative}
.pic_function .father_button.current .main_btn{border-bottom:none;height:23px}
.father_button .dropdown_functions .text_intro{font-style:normal;margin-left:5px}
.dropdown_functions{border:1px solid #bfbfbf;background:#fff;padding:1px}
.dropdown_functions li{border:1px solid #fff}
.pic_link_item{min-width:290px;_width:290px;width:auto;padding:10px}
.pic_position .dropdown_functions,.pic_position .dropdown_functions a{min-width:70px;_width:70px;width:auto}
.pic_size .dropdown_functions,.pic_size .dropdown_functions a{min-width:50px;_width:50px;width:auto;height:12px;line-height:12px;}
.pic_link_item .url{width:200px;margin-left:5px;font-family:arial, sans-serif;border:1px solid #bfbfbf;padding:2px}
.dropdown_functions .icon_sprite{float:left}
.dropdown_functions li a{display:block;position:relative;cursor:pointer;padding:3px 4px;height:14px;line-height:14px;color:#4d4d4d}
.dropdown_functions li a:link,.dropdown_functions li a:visited{background-color:#fff;color:#4d4d4d}
.dropdown_functions a:hover,.dropdown_functions a:active{background-color:#e6e6e6;cursor:pointer;color:#4d4d4d}
.pic_position .icon_sprite{width:12px;height:13px}
.pic_function .icon_pic_position,.pic_function .icon_pic_left{background-position:0 -6px;width:13px;height:14px}
.pic_function .icon_pic_center{background-position:0 -26px}
.pic_function .icon_pic_right{background-position:0 -46px}
.pic_function .icon_pic_left_round{background-position:0 -65px}
.pic_function .icon_pic_right_round{background-position:0 -84px}
.pic_function .icon_pic_reset{background-position:0 -103px;}
.pic_size .icon_sprite{width:14px;height:14px}
.pic_function .icon_pic_size{background-position:-29px 0;width:16px;height:17px}
.pic_function .icon_size_default{background-position:-29px -26px}
.pic_function .icon_size_smaller{background-position:-29px -46px}
.pic_function .icon_size_bigger{background-position:-29px -65px}
.pic_function .icon_size_full{background-position:-29px -84px}
.pic_function .icon_pic_link{background-position:-57px -4px;width:17px;height:9px}
/*  |xGv00|79f1309a52ada9cde96ecb19a3d350af */
