html,body,p,ul,li {margin:0; padding:0;}
.hidden {display:none;}
.veEditorContainer {display: block; border:1px solid #eeeeee; background-color:white;}
.veToolbar {overflow:hidden; margin: 5px 1px;float:left; }
.veList {overflow:hidden;display:block; width:100px; overflow:hidden; float:left;}
.veList a {text-decoration:none;color:black; padding-left: 5px;display:block; height:21px; overflow:hidden;}
.veList .veList_downicon{display:block; width:22px; height:22px; background:url(../img/bg.png) no-repeat -130px 0; float:left;}
.veList .veList_current {width:76px; float:left; border:1px solid #cccccc; border-right:none; height:21px; overflow:hidden; background-color:white;}
.veList_over .veList_downicon {background-position: -130px -22px;}
.veList_over .veList_current {border:1px solid gray; border-right:none; }
.veList_list {position:absolute; border:1px solid #cccccc; border-top:none; background-color:white;}
.veList_FontSize_list { top:27px; left:102px;}
.veList_FontName_list { top:27px; left:2px;}


.veToolbarContainer {background:url(../img/toolbarbg.png) repeat-x;height:33px;}
.veIcon {background: url(../img/bg.png) no-repeat; width:28px; height:22px; display: block;cursor:pointer; float:left;}
.veButtonBold {background-position: -516px 0;}
.veButtonBold_over span{background-position: -516px -22px;}
.veButtonBold_active span {background-position: -516px -44px;}
.veButtonItalic {background-position: -544px 0;}
.veButtonItalic_over span {background-position: -544px -22px;}
.veButtonItalic_active span {background-position: -544px -44px;}
.veButtonUnderline {background-position: -572px 0; width:29px;}
.veButtonUnderline_over span {background-position: -572px -22px;}
.veButtonUnderline_active span {background-position: -572px -44px;}

.veJustifyLeft {background-position: -179px 0;}
/*.veJustifyLeft:hover {background-position: -179px -22px;}*/
.JustifyCenter {background-position: -207px 0;}
/*.JustifyCenter:hover {background-position: -207px -22px;}*/
.JustifyRight {background-position: -234px 0;}
/*.JustifyRight:hover {background-position: -234px -22px;}*/
.JustifyAuto {background-position: -260px 0; width:29px;}
/*.JustifyAuto:hover {background-position: -260px -22px; width:29px;}*/